#press
  .container
    %h1 PRESS
    %h3= link_to 'New', new_pressitem_path
    #pressgrid
      -@pressitems.each do |p, index|
        .grid-item
          = link_to image_tag(p.image), p.link
          %ul.list-unstyled.press-text
            %li.sitename= link_to p.sitename.upcase, p.link
            %li.title= link_to p.title, p.link
            %li= p.body.html_safe
            %li
              = link_to 'edit', edit_pressitem_path(p)
              = link_to 'delete', pressitem_path(p), method: :delete, data: { confirm: 'Are you sure?' } 
    .clearfix
    = paginate @pressitems
