%footer
  .dsi-panel.white
    .container
      .row
        .col-xs-12
          %ul.list-inline
            %li= link_to 'FAQ', faq_path
            %li= link_to 'CONTACT', contact_path
            %li= link_to 'TWITTER', ''
            %li= link_to 'MAILING LIST', mailing_list_path
        .col-xs-12
          %ul.list-inline.terms
            %li
              &copy; Harlen
              = Date.today.year
            %li= link_to 'Legal Disclaimer', legal_path
            %li= link_to 'Terms & Privacy', terms_path
