%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.dropdown
          %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}  DISCOVER
          %ul.dropdown-menu
            = nav_link "BRAND", brand_path
            = nav_link "CREATION", creation_path
            = nav_link "PHILANTHROPY", philanthropy_path
        = nav_link "COLLECTION", products_path
        = nav_link "PRESS", pressitems_path
        = nav_link "STORIES", stories_path
      %ul.nav.navbar-nav.navbar-right
        = nav_link "ACCOUNT", root_path
        = nav_link "CART", root_path

