%nav.navbar.navbar-toggleable-md
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    .navbar-brand
      = link_to "HARLEN", root_path
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.dropdown.nav-item
          %a.nav-link.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
            DISCOVER
          %ul.dropdown-menu{:role => "menu"}
            = nav_link "CREATION", creation_path
            = nav_link "STORY", brand_path
            = nav_link "PHILANTHROPY", philanthropy_path
        = nav_link "COLLECTION", root_path
        = nav_link "NEWS", root_path
        = nav_link "STORIES", stories_path
        = nav_link "ACCOUNT", root_path
        = nav_link "CART", root_path

