= simple_form_for(@news) do |f|
  = f.error_notification

  .form-inputs
    = f.input :new
    = f.input :create
    = f.input :update
    = f.input :edit
    = f.input :destroy
    = f.input :index
    = f.input :show

  .form-actions
    = f.button :submit
