%h1 Listing productviews

%table
  %thead
    %tr
      %th Product
      %th Productimage
      %th
      %th
      %th

  %tbody
    - @productviews.each do |productview|
      %tr
        %td= productview.product_id
        %td= productview.productimage_id
        %td= link_to 'Show', productview
        %td= link_to 'Edit', edit_productview_path(productview)
        %td= link_to 'Destroy', productview, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Productview', new_productview_path
