#story-sidebar.col-xs-12.col-md-3
  .sidebar-widget 
    %ul.list-unstyled.list-inline.social
      %h3 FOLLOW
      %li= fa_icon 'rss'
      %li= fa_icon 'twitter'
      %li= fa_icon 'facebook'
      %li= fa_icon 'instagram'

  .sidebar-widget 
    %h3 SEARCH
    = form_tag(stories_path, method: "get") do  
      = text_field_tag :search, params[:search], placeholder: "Search Stories"  
      = submit_tag "Search", name: nil

  .sidebar-widget
    %ul.list-unstyled.list-inline.tweets
      %h3 RECENT TWEETS
      -@tweets.each do |t|
        %li.text= auto_link(t.full_text, target_blank: true).html_safe
        %li.date= t.created_at.strftime("%B #{t.created_at.day.ordinalize}, %Y")

