#stories
  .container
    .col-xs-12.col-md-9.story-main
      -if params[:search] && @stories.blank?
        %h1.page-title 
          NO RESULTS FOUND FOR 
          = params[:search].upcase
      -else
        -if params[:search] && !@stories.blank?
          %h1.page-title 
            RESULTS FOR 
            = params[:search].upcase
        -else    
          %h1.page-title 
            STORIES
            -if user_signed_in?
              -if current_user.try(:admin?)
                = link_to ' (NEW)', new_story_path()
        .row
          - @stories.each_with_index do |s, index|
            - tagclasses = get_tags(s.tags)

            %div{ class: (index == 0 || index == 7 ? "col-xs-12 story feature #{tagclasses}" : "col-xs-12 col-md-4 story #{tagclasses}") }
              = link_to image_tag(index == 0 || index == 7 ? s.image.banner : s.image.thumb), story_path(s.slug)
              %ul.list-unstyled.story-text
                %li.date= s.created_at.strftime("%B #{s.created_at.day.ordinalize}, %Y")
                %li.title
                  %h2= link_to s.title.upcase, story_path(s.slug)
                %li.tagline= s.tagline.truncate_words(10)
                %li
                  = link_to 'edit', edit_story_path(s.slug)
                  = link_to 'delete', story_path(s.slug), method: :delete, data: { confirm: 'Are you sure?' } 
                -if [0,7].include? index
                  %li.excerpt= excerpt(s.body)
      = paginate @stories
    = render 'story_sidebar'



