.container
  = link_to 'NEW', new_story_path()
  %h1 HARLEN STORIES
  %h3 -- THE HARLEN BLOG --
  - @tags.each do |t|
    %li= t.name
  .row
    - @stories.each do |s|
      .col-12.col-md-4
        = link_to image_tag(s.image.thumb), story_path(s.slug)
        %li
          = link_to 'edit', edit_story_path(s.slug)
          = link_to 'delete', story_path(s.slug), method: :delete, data: { confirm: 'Are you sure?' } 
        %li= link_to s.title, story_path(s.slug)
        %li= s.created_at.strftime("%B #{s.created_at.day.ordinalize}, %Y")
        %li= s.tagline

