#stories
  .container
    .col-xs-12.col-md-9.story-main
      %h2.story-date
        = @story.created_at.strftime("%B #{@story.created_at.day.ordinalize}, %Y")
      %h1.page-title 
        = @story.title
        -if user_signed_in?
          -if current_user.try(:admin?)
            = link_to '(edit)', edit_story_path(@story.slug)
      %h4= @story.tagline
      = image_tag(@story.image.banner) 
      %h5= @story.caption
      .story-body= @story.body.html_safe


    = render 'story_sidebar'
