.nested-fields
  .form-group.text-center
    = f.association :color, as: :radio_buttons
  = link_to_remove_association "remove image set below", f
  .form-group.row
    .col-xs-2
      = image_tag(f.object.front.thumb) if f.object.front?
    .col-xs-10
      = f.input :front
  .form-group.row
    .col-xs-2
      = image_tag(f.object.top.thumb) if f.object.top?
    .col-xs-10
      = f.input :top
  .form-group.row
    .col-xs-2
      = image_tag(f.object.side1.thumb) if f.object.side1?
    .col-xs-10
      = f.input :side1
  .form-group.row
    .col-xs-2
      = image_tag(f.object.with_model.thumb) if f.object.with_model?
    .col-xs-10
      = f.input :with_model


