.container
  %h1 
    COLLECTION
    = link_to '(New)', new_product_path
  - @products.each do |p|
    .col-xs-6.col-md-4
      =link_to (image_tag p[0][0].md), product_path(id: p[0][2], color: p[0][3])
      %ul.list-unstyled
        %li= link_to "#{p[0][3].titlecase} #{p[0][1]}", product_path(p[0][2])
        %li
          = link_to 'Show', product_path(p[0][2])
          = link_to 'Edit', edit_product_path(p[0][2])
          = link_to 'Destroy', product_path(p[0][2]), :method => :delete, :data => { :confirm => 'Are you sure?' }
