.container
  %p#notice= notice
  %h1= @product.title
  = link_to 'COLLECTION', products_path
  .span.admin-controls
    = link_to 'Edit', edit_product_path(@product)
    \|
    = link_to 'Delete', product_path(@product.slug), method: :delete, data: { confirm: 'Are you sure?' } 
  %p
    $
    = number_with_precision(@product.price, precision: 2)
  %p= @product.description
  .product-images
    -@product.productimages.each do |pi|
      .row
        %h2= pi.color.title
      .row
        = image_tag pi.front.thumb
        = image_tag pi.side1.thumb
        = image_tag pi.side2.thumb
        = image_tag pi.top.thumb
        = image_tag pi.bottom.thumb
        = image_tag pi.with_model.thumb

