%h1 Listing productimages

%table
  %thead
    %tr
      %th Orientation
      %th Color
      %th Image
      %th
      %th
      %th

  %tbody
    - @productimages.each do |productimage|
      %tr
        %td= productimage.orientation
        %td= productimage.color
        %td= productimage.image
        %td= link_to 'Show', productimage
        %td= link_to 'Edit', edit_productimage_path(productimage)
        %td= link_to 'Destroy', productimage, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Productimage', new_productimage_path
